*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: -80%;
    border-radius: 18px;
    border: 2px solid #ffbe01;
    transition: all 0s ease-in;
    background-color:#000;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 3%;
    text-align: center;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.header{
    display: grid;
    grid-template-rows: repeat(3, 0.3fr);
    justify-items: center; 
}
.nav{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
}
button{
    border-radius: 90%;
    width: 45%;
    height: 100%;
    border: none;
    margin-top: 40%;
}
.img-1{
    width: 50%;
    height: auto;
}
.card:hover{
    box-shadow: 0 0 10px 4px #ffbe01;
    border: none;
}
h1{
    font-size: 1.7em;
    margin-top: 1%;
}
.work{
    font-size: 1em;
}
.picture{
    border-radius: 50%;
    width: 20%;
    height: auto;
    margin-top: 1%;
    box-shadow: 0 0 8px 2px #ffbe01;
}
.container{
    display: grid;
    grid-template-rows:repeat(3, 80px);
    padding-bottom: 3%;
}
.title-main{
    display: flex;
    color: #ffbe01;
    justify-content: center;
    text-decoration: underline;
}
.loca{
    width: 100%;
    height: 75%;
    margin-bottom: -6.5%;
    border-radius: 0 0 18px 18px;
    margin-top: -6%;
}
a{
    text-decoration: none;
    color: #ffbe01;
}
a:hover{
    color: #00008b;
}
i{
    max-width: 80%;
    max-height: 80%;
}
@media screen and (max-width: 600px){
    .card{
        max-width: 100%;
        max-height: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        margin-top: 20%;
        border: 2px solid #ffbe01;
        overflow: hidden;
    }
    .header{
        grid-template-rows: repeat(3, 0.3fr);
    }
}